/* Write your CSS here */
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-align: center;
  color: #d4d2db;
  width: 100px;
  background-color: #382f5a;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}
